[submodule "coolblue"]
	path = coolblue
	url = https://github.com/heleneshaikh/coolblue.git
[submodule "BBC"]
	path = BBC
	url = https://github.com/heleneshaikh/BBC.git
[submodule "resume"]
	path = resume
	url = https://github.com/heleneshaikh/resume
[submodule "optimization"]
	path = optimization
	url = https://github.com/heleneshaikh/optimization.git
